<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://scontent.fcpq17-1.fna.fbcdn.net/v/t39.30808-6/306914633_387789960209296_2986558493529944336_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeE4HOctQJ0K---f1jftmrdvabNiX_gikQJps2Jf-CKRAkwrZqMhNQ7EKYooCE5oD7zY-CaPUQVHgyjPFc0S-RJE&_nc_ohc=fxz1uvawhx8AX9cM4Vb&_nc_ht=scontent.fcpq17-1.fna&oh=00_AfCqSuTi3BMvpM3OWyJtyBo2vjl8E8P7R-RoKCsYP5MPEA&oe=648FB6FB" 
        alt="" 
        height="250px"
        srcset="">
    </div>
        <div class="big-card__title">
            <h1><a href="#">Super notícia aqui!!!</a></h1>
        </div>
        <div class="big-card__description">
            <p>
                <a href="#">Notícia quentinha saída do forno! Todos os dias novos conteúdos para você sempre 
                    ficar informado. Hoje trouxemos para você uma revisão da carreira de uma das melhores 
                    bandas de todos os tempos: a banda  RockShot. Uma banda que se originou na cidade de 
                    Sorocaba, interior de São Paulo.
                </a>
            </p>
        </div>
</div>
