.container__big-card{
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.big-card__description{
    margin-top: 20px;
}

.big-card__title > h1{
    font-size: 30px;
    padding-left: 10px;
}
.big-card__description > p > a{
    font-size: 12px;
    padding-left: 10px;
    color: gray;
}

.big-card__photo > img{
    width: 100%;
    display: flex;
    min-width: 400px;
    border-radius: 10px;
  
}